.heroContainer {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/images/fruit-salads-in-plate.jpg);
    background-size: cover;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
    padding: 140px 0;
}

.h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 50px;
    line-height: 58px;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);

}