@import "colours";
@import "fonts";
@import "media-queries";

.outer {
  padding-top: 50px;
  padding-bottom: 70px;
}

.inner {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.icon {
  width: 40px;
  height: 50px;
  fill: inherit;
  line-height: 1;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 10px;
  z-index: 1;
}

.column {
  padding: 0 0.75rem 0;
  @media (min-width: 576px) {
    flex: 0 0 auto;
    width: 50%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 33.33%;
  }
}