@import "colours";

.carouselWrap {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px; 
}
.carouselWrap:before {
  @media (max-width: 991px) {
    height: 100%;
  }
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85%;
  background-color: $lightGreen2
}

.grid {
  display: flex;
  align-items: center;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.gridLeft {
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 50%;
  }
  width: 100%;
}

.gridRight {
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 50%;
  }
  width: 100%;
  padding-left: 30px;
}

.img {
  border-bottom-left-radius: 30px;
}

.inner {
  @media (max-width: 991px) {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  text-align: start;
}

.heading {
  @media (max-width: 991px) {
    font-size: 30px;
    margin-bottom: 10px;
  }
  margin: 0 0 20px 0;
  text-align: inherit;
  font-size: 55px;
  color: $black1;
}

.paragraph {
  margin: 0 0 25px 0;
  color: $black4;
  line-height: 25.6px;
  text-align: inherit;
}

.dot:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid $greenColor;
  border-radius: 50%;
  opacity: 0;
  transition: 0.7s;
}

.activeDot:before {
  opacity: 1;
}

.dot {
  background-color: $greenColor;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin: 7px 7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: block;
}

.dotWrap:hover span:before {
  opacity: 1; 
}
.dotWrap {
  display: inline-block;
  zoom: 1;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer; 
}

.buttonBanner {
  @media (max-width: 991px) {
    display: block;
  }
  display: flex;
  gap: 20px;
  justify-items: center;
}

.buttonBanner > a:nth-child(1) {
  margin-right: 20px;
}

.leaf1 {
  position: absolute;
  bottom: 170px;
  left: 40%;
  width: unset !important;
  animation: moveIn-to 9s infinite linear;
}

.leaf2 {
  position: absolute;
  top: 50px;
  left: 0;
  width: unset !important;
  animation: moveIn-to 12s infinite linear;
}

.leaf3 {
  position: absolute;
  bottom: 115px;
  left: 3%;
  width: unset !important;
  animation: movebounce-up 15s infinite linear;
}

@keyframes moveIn-to {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movebounce-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}