$olive:#839c83;
$grey: #424242;
$grey-green: #576855;
$light-grey: #fcfbfb;
$faded-grey: rgb(99, 112, 98);

$light-brown: #b6956a;
$faded-brown: #c7ad8c;
$dark-blue: #242943;
$dark-grey: #333;
$light-blue: #9bf1ff;

$box-colour: #b0c544;

$greenColor: #72ae44;

$darkBlue: #212529;
$lightGrey: #e9ecef;
$lightGreen: #f4f7ea;
$lightGreen2: #f2fef2;
$lightGreen3: #f4fbf4;
$black1: #191f30;
$black4: #4e4e4e;

$white1: #f0eeee;
