@import "colours";
@import "fonts";
@import "media-queries";

.header {
  background-color: $lightGreen;
}

.topHeader {
  background-color: #f4f7ea;

}

.topInnerBg {
  background-color: $greenColor;
  padding: 7px 20px;
  border-radius: 3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media only screen and (max-width: 767px) {
    text-align: center;
    font-size: 15px;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.welcome {
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 33.33%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 25%;
  }
}

.headerLeft {
  @media only screen and (max-width: 767px) {
    padding-top: 5px;
    float: none;
    margin-bottom: 5px;
    text-align: center;
  }
}
.welcomeText {
  color: white;
  margin: 0;
  padding: 0;
}

.innerRight {
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 66.66%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 75%;
  }
}

.rightHeader {
  float: right;
  align-items: center;
  display: flex;
}

.headerItem {
  margin-right: 30px;
}

.uList {
  margin: 0;
  padding: 0;
}

.title {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.listItem {
  display: inline-block;
  margin-right: 10px;
  color: $greenColor;
  background-color: white;
  height:30px;
  width: 30px;
  cursor: pointer;
  :hover {
    transition: all 0.3s linear;
    background-color: $black1;
    color: white;
  }
}

.listItem:last-child {
  margin-right: 0px;
}

.iconWrap {
  display: flex;
  color: inherit;
  height: 100%;
}

.icon {
  color: inherit;
  margin: auto;
  display: block;
}

.shoppingBagWrap {
  cursor: pointer;
  :hover {
    fill: $black1;
  }
}

.shoppingBagIcon {
  height: 25px;
  width: 25px;
  fill: white;
  
}

.languageDropdown {
  display: inline-block;
  position: relative;
  top: 0;
}

.dropdownToggle {
  color: white;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
}

.show {
  transform: translateY(40px) !important;
  opacity: 1 !important;
}

.dropdownMenu {
  right: 0;
  left: auto;
  margin: 0;
  padding: 0;
  box-shadow: 0px 9px 54px 0px rgba(32,32,32,.1);
  transform: translateY(100px);
  transition: all 0.3s linear;
  position: absolute;
  z-index: 1000;
  min-width: 10rem;
  font-size: 1rem;
  color: $darkBlue;
  background-color: white;
  opacity: 0;
}

.language {
  margin-left: 8px;
}

.chevronDown {
  border: 0;
  margin-left: 2px;
  height: 14px;
  width: 14px;
  fill: white;
}

.nationalityIcon {
  width: 20px;
  height: 20px;
  margin: 3px 10px 0 5px;
}

.dropdownOption {
  padding: 5px 10px;
  line-height: 1.6;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s linear;
}

.dropdownOption:hover {
  background-color: $lightGrey;
}

.languageOption {
  display: inline-block;
  height: 100%;
}