@import "colours";
@import "fonts";
@import "media-queries";

.outer {
  padding-top: 100px;
  padding-bottom: 70px;
}

.sectionTitle {
  text-align: center
}

.title {
  padding-bottom: 22px;
  display: inline-block;
  line-height: 0;
  font-size: 15px;
  color: $greenColor;
  position: relative;
  font-weight: 500;
}

.heading {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  line-height: 1.2;
  color: $black1;
  margin-bottom: 0;
}

.cardContainer {
  padding-top: 45px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  @media (min-width: 576px) {
      flex: 0 0 auto;
      width: 50%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 25%;
  }

}

.col:nth-child(1) > div::before {
  background-image: url("/images/work-img1.jpg")
}
.col:nth-child(2) > div::before {
  background-image: url("/images/work-img2.jpg")
}
.col:nth-child(3) > div::before {
  background-image: url("/images/work-img3.jpg")
}
.col:nth-child(4) > div::before {
  background-image: url("/images/work-img4.jpg")
}