.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #b6956a;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: 4px  #b6956a;
    padding: 20px;
  }

form input[type="text"] {
    font-family: 'Raleway', sans-serif;
    color: black;
    cursor: default;
    display: inline-block;
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    text-decoration: none;
    border-color: #b6956a;
    box-shadow: 0 0 0 2px #bbdfe4;
    border: 4px;
    padding: 0px 0px 0px 65px;
    margin: 0 2em 0 0;
    background: white;
    background: left 50% / 5% 60% url(../images/search.svg) no-repeat scroll;
}

form search-bar {
    width: 50%;
    padding: 10px;
    border: #b6956a;
    background: white;
}

form button {
    background-color: #b6956a;
    border: none;
    padding: 3px 20px;
    border-radius: 25px;
}

div .recipes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  background: white;
}
