.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fcfbfb;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: #b6956a;
  background: #b6956a;
}

.search-button {
  background: #b6956a;
  border: none;
  padding: 3px 20px;
  border-radius: 25px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
