nav {
    background-color:#dbe9eb;
    color:#333333;
}

ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration-style: none;
}

li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    text-decoration-style: none;
    padding: 20px;
}

li:hover {
    color: #b6956a;
}

