@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Raleway&display=swap");

nav {
    background-color:#dbe9eb;
    color:#333333;
}

ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration-style: none;
}

li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    text-decoration-style: none;
    padding: 20px;
}

li:hover {
    color: #b6956a;
}

li:active {
    color:#b6956a;
}

a:active {
    color:#b6956a;
}

nav:active {
    color:#b6956a;
}

Link:active {
    color:#b6956a;
}

.navigationContainer nav .container {
    width: 20px;
    height: 20px;
}

/* resize images */
.navigationContainer nav .container img {
    width: 100%;
    height: auto;
}

