@import "colours";
@import "fonts";
@import "media-queries";

.App {
  min-height: 100vh;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
  font-size: 14pt;
  background: #242943;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links:active {
  color: #b6956a;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
