.transparentButton {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-0.8em);
    -webkit-transform: translateX(-0.8em);
    -ms-transform: translateX(-0.8em);
    transform: translateX(-0.8em);

  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-0.8em);
    -webkit-transform: translateX(-0.8em);
    -ms-transform: translateX(-0.8em);
    transform: translateX(-0.8em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-0.8em);
    -webkit-transform: translateX(-0.8em);
    -ms-transform: translateX(-0.8em);
    transform: translateX(-0.8em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-0.8em);
    -webkit-transform: translateX(-0.8em);
    -ms-transform: translateX(-0.8em);
    transform: translateX(-0.8em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-0.8em);
    -webkit-transform: translateX(-0.8em);
    -ms-transform: translateX(-0.8em);
    transform: translateX(-0.8em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}

  .transparentButton:hover,
  .transparentButton:active {
    box-shadow: inset 0 0 0 2px #9bf1ff;
    color: #9bf1ff;
  }

  transparentButton:active,
  .transparentButton:active {
    background-color: rgba(155, 241, 255, 0.1);
    box-shadow: inset 0 0 0 2px #53e3fb;
    color: #53e3fb;
  }

  transparentButton.icon:before,
  .transparentButton.icon:before {
    margin-right: 0.5em;
  }

  
  transparentButton.fit,
  .transparentButton.fit {
    width: 100%;
  }

  .next {
    padding-right: 4.5em;
    position: relative;
  }

  .next:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 1.5em;
    top: 0;
    vertical-align: middle;
    width: 36px;
  }

  .next:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
  }

  .next:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
  }

  .next:active:after {
    opacity: 1;
  }

  @media screen and (max-width: 1280px) {

    .next {
      padding-right: 5em;
    }

  }

  .primary {
    background-color: #ffffff;
    box-shadow: none;
    color: #242943;
  }

  .primary:active {
    background-color: #9bf1ff;
    color: #242943 !important;
  }

  .primary:active {
    background-color: #53e3fb;
  }

  .transparentButton:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.25;
  }