$olive:#839c83;
$grey: #424242;
$grey-green: #576855;
$light-grey: rgb(214, 221, 213);
$faded-grey: rgb(99, 112, 98);

$light-brown: #b6956a;
$faded-brown: #c7ad8c;
$dark-blue: #242943;
$dark-grey: #333;
$light-blue: #9bf1ff;

$box-colour: #b0c544;