@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Raleway&display=swap");
@import "colours";
@import "fonts";
@import "media-queries";

.nav {
  background-color:#bbdfe4;
  color:#333333;
  font-size: $font-14px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self: flex-start;
  -moz-align-items: -moz-center;
  -webkit-align-items: -webkit-center;
  -ms-align-items: -ms-center;
  align-items: center;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: space-between;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  line-height: inherit;
  position: relative;
  z-index: 100000;
}

.nav__sticky {
  @extend .nav;
  position: fixed;
  //sends animation work over to GPU
  will-change: transform;
  top: 0;
  left: 0;
  width: 100%;
  animation: moveDown 0.5s ease-in-out;
  -webkit-animation: moveDown 0.5s ease-in-out;
  -moz-animation: moveDown 0.5s ease-in-out;
  -o-animation: moveDown 0.5s ease-in-out;
  -ms-animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@-moz-keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@-webkit-keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@-o-keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@-ms-keyframes moveDown {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.ul {
  font-family: 'Raleway', sans-serif;
  font-size: $font-16px;
  list-style-type: none;
  text-decoration-style: none;
  margin: 1.5em 0em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 100001;
}

.li {
  font-family: 'Raleway', sans-serif;
  font-size: $font-16px;
  display: inline;
  text-decoration-style: none;
  vertical-align: center;
  padding: 1em 1em;

}

.strong {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: $light-brown;
  color: white;
  display: inline-block;
  line-height: 1.65em;
  margin: 0em 0.325em 0em 0em;
  padding: .3em 0.125em 0.3em 0.375em;
  border: 0;
  font: inherit;
  font-weight: 600;
  vertical-align: baseline;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.strong:active {
  background-color: #53e3fb;
}

.reveal {
  -moz-animation: reveal-header 0.35s ease;
  -webkit-animation: reveal-header 0.35s ease;
  -ms-animation: reveal-header 0.35s ease;
  animation: reveal-header 0.35s ease;
}

.alt {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
  background-color: transparent;
  box-shadow: none;
  position: absolute;
}

.img {
  margin: 0.2em;
}

.link {
  text-decoration: none;
  color: $grey;
  &:visited {
    color: $grey;
  }
}

.header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #2a2f4a;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
  cursor: default;
  font-weight: 600;
  height: 3.25em;
  left: 0;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  margin: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  vertical-align: middle;
  z-index: 10000;
}

.logo {
  display: inline-block;
  font-size: 1em;
  height: inherit;
  line-height: inherit;
  padding: 0 1%;
  position: relative;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: inherit;
  text-decoration: none;
  border: 0;
  margin: 0;
  justify-self: flex-start;
  max-width: 75%;

}

.logo:last-child {
  padding-right: 1.5em;
}

.icon {
  font-size: $font-40px;
  color: $grey;
  transition: opacity ease-out 0.5s;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.li:hover, .li:active {
  color: $light-brown;
  text-decoration: underline;
}

.menuButton {
  background: transparent;
  border: none;
  height: 100%;
}
@media #{$mq-xxxsmall} {
  .logo {
    padding:0;
  }
  .link {
    font-size: $font-18px;
    width: 100%;
  }
}
@media #{$mq-xxsmall} {
  .logo {
    padding:0;
  }
  .link {
    font-size: $font-18px;
    width: 100%;
  }
}
@media #{$mq-xsmall} {
  .logo {
    padding:0;
  }
  .link {
    font-size: $font-18px;
    width: 100%;
  }
}
@media #{$mq-small} {
  .logo {
    padding:0;
  }
  .link {
    font-size: $font-18px;
    width: 100%;
  }
}
@media #{$mq-medium} {
  .logo {
    padding: 0 1%;
  }
  .menuButton {
    display:none;
  }
  .link {
    font-size: $font-18px*0.85;
    width: auto;
  }
}
@media #{$mq-large} {
  .logo {
    padding: 0 1%;
  }
  .menuButton {
    display:none;
  }
  .link {
    font-size: $font-18px*0.9;
    width: auto;
  }
}
@media #{$mq-xlarge} {
  .logo {
    padding: 0 1%;
  }
  .menuButton {
    display:none;
  }
  .link {
    font-size: $font-18px*1.4;
    width: auto;
  }
}
@media #{$mq-xxlarge} {
  .logo {
    padding: 0 1%;
  }
  .menuButton {
    display:none;
  }
  .link {
    font-size: $font-18px*1.9;
    width: auto;
  }
}


