@import 'fonts';
@import 'colours';

.recipe {
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left; 
}

.showMoreButton {
  margin-top: 0.5em;
  clear: both;
  background-color: white;
  font-family: $normal-text;
  font-weight: 500;
  border: none;
  outline: none;
  color: $light-brown;
  display: inline-block;
  text-align: left;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.div {
  position: relative;
    
}

.span {
  border-bottom: 2px solid #b6956a;

}

.h3 {
  color:black;
  font-family: $decorative-text;
  font-size: $font-22px;
  line-height: 1.5;
  width: 240px;
  padding: 1%;
  transition: opacity ease-in 0.3s;
}

.h3:hover {
  opacity:0.70;

}

.h2 {
  color:black;
  font-family: $decorative-text;
  font-weight: 100;
    
}

.h1 {
  color:black;
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Abril Fatface', cursive;
}

.p {
  color:#b6956a;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 500;
  padding: 1%;
  margin: 0.3em 0em;
}

.ul {
  color:black;
  font-family: 'Playfair Display', serif;
  line-height:1.1;
  padding: 1%;
  margin: 0.3em 0em;
}

.li {
  color:black;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  line-height: 1.1;
  display: list-item;
  padding: .3em 0em;
  text-align: left;
  max-width: 250px;

}

.image {
  padding: 1%;
  display: block;
  width: 90%;
  box-shadow: 0px 5px 10px #e1dede;
  transition: opacity .7s;
}

.image:hover {
  opacity: 85%;
}

.form {
  background-color: black;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.a {
  text-decoration: none;
}
